.header {
    height: 100px;
    border-bottom: 2px solid rgba(235, 235, 235, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 48px 0px 48px;

    .logo {
        margin: 0 70px;
    }

    .items-container {

        .item {
            font-weight: 600;
            margin: 0 14px;
            font-size: 16px;
            letter-spacing: 2%;
            line-height: 21.79px;
            text-transform: uppercase;
        }

    }

    .actions-icons-container {
        margin-right: 70px;

        :nth-child(2) {
            margin: 0px 20px;
        }
    }

}